<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lims.modules.lab.dao.LabGdtDao">

    <resultMap id="labGdtResultMap" type="com.example.lims.modules.lab.entity.LabGdtEntity">

         <result property="labId" column="lab_id"></result>
         <result property="lgTiming" column="lg_timing"></result>
         <result property="lgStatus" column="lg_status"></result>
         <result property="lgSTime" column="lg_s_time"></result>
         <result property="lgETime" column="lg_e_time"></result>
         <result property="name" column="name"></result>
         <result property="lgType" column="lg_type"></result>
         <result property="objName" column="obj_name"></result>
    </resultMap>
    <select id="queryTable" parameterType="com.example.lims.vo.LabGdtTableVO" resultMap="labGdtResultMap">
        SELECT *
        FROM lab_gdt
        WHERE
         lab_id LIKE CONCAT('%',#{labId},'%')
        OR lg_timing LIKE CONCAT('%',#{lgTiming})
        OR lg_status LIKE CONCAT('%',#{lgStatus},'%')
        OR lg_s_time LIKE CONCAT('%',#{lgSTime},'%')
        OR lg_e_time LIKE CONCAT('%',#{lgETime},'%')
        OR name LIKE CONCAT('%',#{name},'%')
        OR lg_type LIKE CONCAT('%',#{lgType},'%')
        OR obj_name LIKE CONCAT('%',#{objName},'%')
        ORDER BY lab_id ASC
        LIMIT #{start},#{pageSize}
    </select>
    <select id="queryCount" parameterType="com.example.lims.vo.LabGdtTableVO" resultType="int">
        SELECT count(*) FROM lab_gdt
        WHERE
         lab_id LIKE CONCAT('%',#{labId},'%')
        OR lg_timing LIKE CONCAT('%',#{lgTiming})
        OR lg_status LIKE CONCAT('%',#{lgStatus},'%')
        OR lg_s_time LIKE CONCAT('%',#{lgSTime},'%')
        OR lg_e_time LIKE CONCAT('%',#{lgETime},'%')
        OR name LIKE CONCAT('%',#{name},'%')
        OR lg_type LIKE CONCAT('%',#{lgType},'%')
        OR obj_name LIKE CONCAT('%',#{objName},'%')
        ORDER BY lab_id ASC
        LIMIT #{start},#{pageSize}
    </select>
</mapper>
