<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lims.modules.user.dao.UserDao">

    <resultMap id="UserResultMap" type="com.example.lims.modules.user.entity.UserEntity" >
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="weChat" column="we_chat"/>
        <result property="role" column="role"/>
        <result property="auth" column="auth"/>
        <!--<result property="login_time" column="login_time"/>-->
    </resultMap>

<select id="findByUserName" parameterType="java.lang.String" resultMap="UserResultMap">
  SELECT * FROM user WHERE
  user_name=#{userName}
</select>

    <insert id="insertUser" parameterType="com.example.lims.modules.user.entity.UserEntity">
        INSERT user(user_name,password,name,sex,phone,email,we_chat)
        VALUES(#{userName},#{password},#{name},#{sex},#{phone},#{email},#{weChat});
    </insert>


    <select id="selectUserByUserName" parameterType="java.lang.String" resultMap="UserResultMap">
        SELECT * FROM user WHERE
        user_name=#{userName}
    </select>


    <update id="updateUser" parameterType="com.example.lims.modules.user.entity.UserEntity" >
        UPDATE user
        SET
        user_name=#{userName},
        password=#{password},
        name=#{name},
        sex=#{sex},
        phone=#{phone},
        email=#{email},
        we_chat=#{weChat},
        role=#{role},
        auth=#{auth}
        WHERE
        id=#{id}

    </update>
</mapper>
