<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.dao.ComsumeDao">
    <resultMap id="ComsumeResultMap" type="comsumeEntity">
        <id property="id" column="id"></id>
        <result property="smeName" column="sme_name"></result>
        <result property="smeCount" column="sme_count"></result>

    </resultMap>
    <resultMap id="SmeAndIncord" type="comsumeEntity">
        <id property="id" column="id"></id>
        <result property="smeName" column="sme_name"></result>
        <result property="smeCount" column="sme_count"></result>
        <collection property="inRecordEntities" ofType="com.example.demo.modules.entity.InRecordEntity">
            <id property="id" column="in_id"  ></id>
            <result property="inCount" column="in_count"></result>
            <result property="name" column="name"  ></result>
            <result property="inTime" column="in_time"  ></result>
        </collection>


    </resultMap>
    <select id="a123" resultMap="SmeAndIncord">
        SELECT c.*,i.id in_id,i.in_count,i.name,i.in_time FROM comsume c, in_record i
    </select>

    <select id="querySmeAndIncordDTO" resultType="com.example.demo.dto.sme_inc.SmeAndIncordDTO">
        SELECT c.sme_name,i.id,i.in_count,i.name,i.in_time FROM comsume c, in_record i
    </select>
    <insert id="insert">
        INSERT comsume(sme_name,sme_count) VALUES(#{smeName},#{smeCount})
    </insert>

    <update id="update">
        UPDATE comsume
        SET sme_name=#{smeName},sme_count=#{smeCount}
        WHERE id=#{id}
    </update>

    <select id="conditionalQuery" resultMap="ComsumeResultMap">
        SELECT *
        FROM comsume
        WHERE
            sme_name LIKE CONCAT('%',#{smeName},'%')
           OR sme_count LIKE CONCAT('%',#{smeCount})

        ORDER BY id ASC
            LIMIT #{start},#{pageSize}
    </select>

    <delete id="deleteById">
        DELETE FROM comsume
        WHERE id=#{id}
    </delete>

    <select id="conditionalQueryCount" resultType="int">
        SELECT COUNT(*) FROM
            (SELECT *
             FROM comsume
             WHERE
                 sme_name LIKE CONCAT('%',#{smeName},'%')
                OR sme_count LIKE CONCAT('%',#{smeCount})

             ORDER BY id ASC
                 )
                tmp
    </select>
</mapper>
