<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.dao.DevLendDao">
    <resultMap id="DevLendResultMap" type="devLendEntity">
<id property="id" column="id"></id>
<result property="devUStatus" column="dev_u_status"></result>
<result property="userName" column="user_name"></result>
<result property="borrowTime" column="borrow_time"></result>
<result property="returnTime" column="return_time"></result>
<result property="devReason" column="dev_reason"></result>
<result property="returnStatus" column="is_return"></result>
    </resultMap>

    <insert id="insert">
        INSERT dev_lend VALUES(#{id},#{devUStatus},#{userName},#{borrowTime},#{returnTime},#{devReason},#{returnStatus})
    </insert>

    <update id="update">
        UPDATE dev_lend
    SET dev_u_status=#{devUStatus},user_name=#{userName},borrow_time=#{borrowTime},return_time=#{returnTime},dev_reason=#{devReason},is_return=#{returnStatus}
    WHERE id=#{id}
    </update>
    <update id="updateFixationDevUStatus">
        UPDATE dev_lend dl LEFT JOIN device d ON dl.id=d.id
    SET dl.dev_u_status=#{devUStatus},dl.user_name=#{userName},dl.borrow_time=#{borrowTime},dl.return_time=#{returnTime},dl.dev_reason=#{devReason},dl.is_return=#{returnStatus}
    WHERE dl.id=#{id} and dl.dev_u_status='申请中' and d.dev_status='良好'
    </update>
    <update id="updateFixationDevUStatus2">
        UPDATE dev_lend dl LEFT JOIN device d ON dl.id=d.id
    SET dl.dev_u_status=#{devUStatus},dl.user_name=#{userName},dl.borrow_time=#{borrowTime},dl.return_time=#{returnTime},dl.dev_reason=#{devReason},dl.is_return=#{returnStatus}
    WHERE dl.id=#{id} and dl.dev_u_status='可借用' and d.dev_status='良好'
    </update>
    <select id="conditionalQuery" resultMap="DevLendResultMap">
        SELECT *
        FROM dev_lend
        WHERE

            dev_u_status LIKE CONCAT('%',#{devUStatus},'%')
           OR user_name LIKE CONCAT('%',#{userName},'%')
           OR dev_reason LIKE CONCAT('%',#{devReason},'%')

        ORDER BY id ASC
            LIMIT #{start},#{pageSize}
    </select>

    <delete id="deleteById">
        DELETE FROM dev_lend
        WHERE id=#{id}
    </delete>

    <select id="conditionalQueryCount" resultType="int">
        SELECT COUNT(*)
        FROM (SELECT *
              FROM dev_lend
              WHERE

                  dev_u_status LIKE CONCAT('%',#{devUStatus},'%')
                 OR user_name LIKE CONCAT('%',#{userName},'%')
                 OR dev_reason LIKE CONCAT('%',#{devReason},'%')

              ORDER BY id ASC
             ) tmp
    </select>
</mapper>
