<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.dao.InRecordDao">
    <resultMap id="InRecordResultMap" type="inRecordEntity">
        <id property="id" column="id"></id>
        <result property="inCount" column="in_count"></result>
        <result property="userName" column="user_name"></result>
        <result property="inTime" column="in_time"></result>
        <result property="smeId" column="sme_id"></result>
    </resultMap>
    <insert id="insert">


                INSERT in_record(in_count,user_name,in_time,sme_id) VALUES(#{inCount},#{userName},#{inTime},#{smeId})

    </insert>

    <update id="update">
        UPDATE in_record
        SET sme_id=#{smeId},in_count=#{inCount},user_name=#{userName},in_time=#{inTime}
        WHERE id=#{id}
    </update>

    <select id="conditionalQuery" resultMap="InRecordResultMap">
        SELECT *
        FROM in_record
        WHERE
            sme_id =#{smeId}
           OR in_count LIKE CONCAT('%',#{inCount})
           OR user_name LIKE CONCAT('%',#{userName},'%')

        ORDER BY id ASC
            LIMIT #{start},#{pageSize}
    </select>

    <delete id="deleteById">
        DELETE FROM in_record
        WHERE id=#{id}
    </delete>

    <select id="conditionalQueryCount" resultType="int">
        SELECT COUNT(*)
        FROM (SELECT *
              FROM in_record
              WHERE sme_id =#{smeId}
                 OR in_count LIKE CONCAT('%', #{inCount})
                 OR user_name LIKE CONCAT('%', #{userName}, '%')

              ORDER BY id ASC
             ) tmp
    </select>
</mapper>
