<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.dao.LabGdtDao">
    <resultMap id="labGdtResultMap" type="labGdtEntity">
        <id property="labId" column="lab_id"></id>
        <id property="lgTiming" column="lg_timing"></id>
        <id property="lgDate" column="lg_date"></id>
        <result property="lgStatus" column="lg_status"></result>
        <result property="userName" column="user_name"></result>
        <result property="lgType" column="lg_type"></result>
        <result property="objName" column="obj_name"></result>
        <result property="id" column="id"></result>
    </resultMap>

    <insert id="insert">
        INSERT lab_gdt(lab_id,lg_timing,lg_date,lg_status,user_name,lg_type) VALUES(#{labId},#{lgTiming},#{lgDate},#{lgStatus},#{userName},#{lgType})
    </insert>
    <update id="update">
        UPDATE lab_gdt SET
       lab_id=#{labId},lg_timing=#{lgTiming},lg_date=#{lgDate},lg_status=#{lgStatus},user_name=#{userName},lg_type=#{lgType}
        WHERE id=#{id}
    </update>
    <select id="conditionalQuery" resultMap="labGdtResultMap">
        SELECT *
        FROM lab_gdt
        WHERE
              <choose>
                  <when test="lgDate!=null">
                      lg_date=#{lgDate}
                  </when>
                  <otherwise>
                      lab_id LIKE CONCAT('%',#{labId},'%')
                      OR lg_timing LIKE CONCAT('%',#{lgTiming},'%')
                      OR lg_status LIKE CONCAT('%',#{lgStatus},'%')
                      OR user_name LIKE CONCAT('%',#{userName},'%')
                      OR lg_type LIKE CONCAT('%',#{lgType},'%')
                  </otherwise>
              </choose>
        ORDER BY lab_id ASC
            LIMIT #{start},#{pageSize}
    </select>
    <delete id="deleteById">
        DELETE FROM lab_gdt
        WHERE id=#{id}
    </delete>
    <select id="conditionalQueryCount" resultType="int">
        SELECT COUNT(*)
        FROM (SELECT *
         FROM lab_gdt
         WHERE
        <choose>
            <when test="lgDate!=null">
                lg_date=#{lgDate}
            </when>
            <otherwise>
                lab_id LIKE CONCAT('%',#{labId},'%')
                OR lg_timing LIKE CONCAT('%',#{lgTiming},'%')
                OR lg_status LIKE CONCAT('%',#{lgStatus},'%')
                OR user_name LIKE CONCAT('%',#{userName},'%')
                OR lg_type LIKE CONCAT('%',#{lgType},'%')

            </otherwise>
        </choose>
         ORDER BY lab_id ASC
             ) tmp
    </select>
</mapper>
