<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules.dao.UserDao">

    <resultMap id="UserResultMap" type="userEntity" >
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="weChat" column="we_chat"/>

        <result property="auth" column="auth"/>
        <!--<result property="login_time" column="login_time"/>-->
    </resultMap>

    <resultMap id="UserForMulRole" type="userEntity" >
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="weChat" column="we_chat"/>
        <result property="auth" column="auth"/>
        <result property="userName" column="user_name"/>
        <collection property="roleEntities" ofType="roleEntity">
            <id property="id" column="role_id"></id>
            <result property="roleName" column="role_name"></result>
            <result property="roleDescribe" column="role_describe"></result>
        </collection>
    </resultMap>
    
    
    <insert id="insert">
        <choose>
            <when test="auth!=null and auth!=''">
                INSERT user(user_name,password,name,sex,phone,email,we_chat,auth)
                VALUES(#{userName},#{password},#{name},#{sex},#{phone},#{email},#{weChat},#{auth})
            </when>
            <otherwise>
                INSERT user(user_name,password,name,sex,phone,email,we_chat)
                VALUES(#{userName},#{password},#{name},#{sex},#{phone},#{email},#{weChat})
            </otherwise>
        </choose>
    </insert>

    <update id="update">
        UPDATE user SET
            user_name=#{userName},
            password=#{password},
            name=#{name},
            sex=#{sex},
            phone=#{phone},
            email=#{email},
            we_chat=#{weChat},

            auth=#{auth}
        WHERE
            id=#{id}
    </update>

    <select id="conditionalQuery" resultMap="UserResultMap">
        SELECT *
        FROM user
        WHERE

             user_name LIKE CONCAT('%',#{userName},'%')
            OR password LIKE CONCAT('%',#{password},'%')
            OR name LIKE CONCAT('%',#{name},'%')
            OR sex LIKE CONCAT('%',#{sex},'%')
            OR phone LIKE CONCAT('%',#{phone},'%')
            OR email LIKE CONCAT('%',#{email},'%')
            OR we_chat LIKE CONCAT('%',#{weChat},'%')
            OR auth LIKE CONCAT('%',#{auth},'%')
        ORDER BY id ASC
        LIMIT #{start},#{pageSize}
    </select>

    <delete id="deleteById" >
        DELETE FROM user
        where id=#{id}
    </delete>


    <select id="findUserByUserName" resultMap="UserResultMap">
        SELECT * FROM user
        WHERE user_name=#{id}
    </select>

    <select id="conditionalQueryCount" resultType="java.lang.Integer">


              SELECT COUNT(*)
              FROM user
              WHERE

                  user_name LIKE CONCAT('%',#{userName},'%')
                 OR password LIKE CONCAT('%',#{password},'%')
                 OR name LIKE CONCAT('%',#{name},'%')
                 OR sex LIKE CONCAT('%',#{sex},'%')
                 OR phone LIKE CONCAT('%',#{phone},'%')
                 OR email LIKE CONCAT('%',#{email},'%')
                 OR we_chat LIKE CONCAT('%',#{weChat},'%')
                 OR auth LIKE CONCAT('%',#{auth},'%')


    </select>


    <select id="mulTableQueryRole" resultMap="UserForMulRole">
        select u.id,u.user_name,r.role_name,r.id role_id from
               user u ,role r,UR ur

                where
                      u.id=ur.user_id and r.id=ur.role_id and
                    user_name LIKE CONCAT('%',#{userName},'%')

        ORDER BY u.id ASC
            LIMIT #{start},#{pageSize}
    </select>

    <select id="mulTableQueryRoleCount" resultType="int">
        select COUNT(*) from
            (select * from user u left join UR ur on  u.id=ur.user_id) tmp
                left join role r on tmp.role_id=r.id
        where
            user_name LIKE CONCAT('%',#{userName},'%')
    </select>
<insert id="mulAddMiddleTableRole" >

    insert UR(user_id,role_id) values
    <foreach collection="list" item="item" separator=",">
    (#{item.userId},#{item.roleId})
    </foreach>
</insert>
    <delete id="mulDeleteMiddleTableRole" >
        <foreach collection="list" item="item" separator=";">
            delete from UR
            where user_id=#{item.userId} and role_id=#{item.roleId}
        </foreach>
    </delete>

    <select id="getRoleByUserId" resultMap="UserForMulRole">
    select u.id,u.user_name,r.role_name,r.id role_id from
        user u ,role r,UR ur
    where
        u.id=ur.user_id and r.id=ur.role_id and
            u.id =#{id}
    </select>
</mapper>
